@tailwind base;
@tailwind components;
@tailwind utilities;

.button-blue {
	background-color: rgb(26, 26, 241);
	border-radius: 4px;
	color: aliceblue;
	padding: 4px 8px;
}
.button-green {
	background-color: rgb(24, 224, 117);
	border-radius: 4px;
	color: aliceblue;
	padding: 4px 8px;
}

.button-blue:hover {
	background-color: rgb(76, 76, 175);
}

.button-green:hover {
	background-color: #68a96d;
}
